{%extends 'base.html'%} 
{% block content%}

{% if searched_images%}
      <h2>Found {{ searched_images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}


{% for new in searched_images %}

<div class="container1">
   <img src="{{new.image_photo.url}}" style="max-width:100%;cursor:pointer" width="500px" onclick="onClick(this)"
       class="modal-hover-opacity img-fluid">
</div>
<div id="modal01" class="modal" onclick="this.style.display='none'">
   <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
   <div class="modal-content">
       <img id="img01" style="max-width:100%" class="img-fluid" width="500px">
       <p>{{new.image_description}}</p>
       <p>{{new.image_category}}</p>
       <p>{{new.image_location}}</p>
       

   </div>
</div>
{%endfor%}
{%endblock%}